---
import logoTami from "@images/logos/logo-blanco-tami.gif";
import { Image } from "astro:assets";
import socialMediaLinks from "@data/socialMedia.data";
import NavSocialMediaLink from "../sideMenu/NavSocialMediaLink";
import mascotaTami from "@images/logos/tami-mascota.webp";
import CopyText from "./CopyText.astro";
---

<footer class="bg-teal-600 text-white py-6">
  {/* Diseño para resoluciones mayores a 1024px */}
  <div
    class="hidden lg:flex container mx-auto px-4 mb-8 flex-col lg:flex-row justify-evenly items-start space-y-8 lg:space-y-0 lg:space-x-4"
  >
    {/* Logo */}
    <Image
      src={logoTami}
      alt="Logo de Tami"
      title="Logo de Tami"
      class="self-center w-1/12 sm:w-1/16 lg:w-1/16 2xl:w-1/12"
      width={120}
      height={60}
      loading="lazy"
      format="webp"
    />

    {/* Línea vertical (visible solo en pantallas grandes) */}
    <div class="hidden lg:block w-px bg-white self-stretch"></div>

    {/* Links */}
    <div class="w-full lg:w-1/6">
      <ul class="space-y-4 font-bold text-sm text-center lg:text-left">
        <li>
          <a href="/" title="Ir a la seccion de inicio" class="text-white hover:underline"> INICIO </a>
        </li>
        <li>
          <a href="/about" title="Ir a la seccion de nosotros" class="text-white hover:underline">NOSOTROS</a>
        </li>
        <li>
          <a href="/productos" title="Ir a la seccion de productos" class="text-white hover:underline">PRODUCTOS</a>
        </li>
        <li>
          <a
            href="/src/pages/politicas-de-envio"
            title="Ir a la seccion de politicas de envio"
            class="text-white hover:underline">POLÍTICAS DE ENVÍOS</a
          >
        </li>
        <li>
          <a href="/blog" title="Ir a la seccion de blogs" class="text-white hover:underline">BLOGS</a>
        </li>
      </ul>
    </div>

    {/* Información */}
    <div class="w-full lg:w-2/6 text-center lg:text-left">
      <h3 class="font-bold mb-1 text-white">Horario de atención</h3>
      <p
        aria-label="Horario de atención: lunes a viernes, de 9:00 a 21:00 horas."
      >
        Lunes a Viernes<br />
        9:00 am a 9:00 pm
      </p>
      <h3 class="font-bold mt-3 mb-1 text-white">Para mayor información</h3>
      <CopyText>informestami01@gmail.com</CopyText>
      <CopyText>+51978883199</CopyText>
      <div class="mt-3 flex justify-center lg:justify-start space-x-4">
        {
          socialMediaLinks.map((item) => (
            <NavSocialMediaLink
              socialMediaName={item.socialMediaName}
              image={item.image.src}
              url={item.url}
              imageTitle={item.imageTitle}
              linkTitle={item.linkTitle}
            />
          ))
        }
      </div>
    </div>

    {/* Mascota y botón */}
    <div class="w-full lg:w-1/6 flex flex-col self-center items-center">
      <Image
        src={mascotaTami}
        alt="Mascota de Tami"
        title="Mascota de Tami"
        class="w-2/5 sm:w-1/4 lg:w-3/4 2xl:w-4/6 mb-4"
        width={150}
        height={150}
        loading="lazy"
        format="webp"
      />
      <a
        href="https://api.whatsapp.com/send?phone=51978883199"
        title="Contáctanos por WhatsApp"
        target="_blank"
        class="bg-teal-700 hover:bg-teal-900 text-white font-bold py-2 px-6 rounded-full transition-colors duration-300"
      >
        ¡CONTÁCTANOS!
      </a>
    </div>
  </div>
  {/* Diseño para resoluciones menores a 1024px */}

  <div class="block lg:hidden bg-teal-600 text-white py-4">
    <div
      class="container mx-auto px-4 flex flex-col sm:flex-row items-center justify-center sm:space-x-10 space-y-6 sm:space-y-0"
    >
      <Image
        src={logoTami}
        alt="logo-tami"
        title="Logo de Tami"
        class="w-[80px] h-auto"
        width={80}
        height={40}
        loading="lazy"
        format="webp"
      />
      <div class="text-left">
        <h3 class="font-bold text-yellow-300 text-sm md:text-base">
          Para mayor información
        </h3>
        <CopyText>informestami01@gmail.com</CopyText>
        <CopyText>+51978883199</CopyText>
        <!-- Redes sociales en mobile -->
        <div class="mt-3 flex justify-start space-x-4">
          {
            socialMediaLinks.map((item) => (
                <NavSocialMediaLink
                    socialMediaName={item.socialMediaName}
                    image={item.image.src}
                    url={item.url}
                    imageTitle={item.imageTitle}
                    linkTitle={item.linkTitle}
                />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
