---
import logoTami from "@images/logos/logo-blanco-tami.gif";
import socialMediaLinks from "@data/socialMedia.data";
import CopyText from "./CopyText.astro";
---

<footer class="bg-teal-700 text-white py-12 sm:px-16">
  <div
    class="container mx-auto px-2 grid grid-cols-1 lg:grid-cols-3 gap-8 sm:gap-12 text-center lg:text-left h-full"
  >
    <!-- Separacion en 3 bloques-->
    <div
      class="flex flex-row items-center justify-center lg:items-stretch gap-6 lg:gap-12 gap-y-6 w-full lg:mb-0"
    >
      <!-- Logo -->
      <div class="flex items-center justify-center lg:justify-start">
        <img
          src={logoTami.src}
          alt="Logo de Tami"
          title="Logo de Tami"
          loading="lazy"
          width={120}
          height={60}
          class="shrink-0"
        />
      </div>

      <!-- Barra vertical blanca -->
      <div class="border-l-2 border-white opacity-70 h-[200px]"></div>

      <!-- Enlaces -->
      <div
        class="flex items-center lg:items-start justify-center lg:justify-start p-0 sm:pl-8"
      >
        <ul class="space-y-4 font-semibold text-base text-center lg:text-left">
          <li>
            <a href="/" class="hover:text-orange-300 transition-colors"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="/sobre-nosotros"
              class="hover:text-orange-300 transition-colors">Nosotros</a
            >
          </li>
          <li>
            <a href="/productos" class="hover:text-orange-300 transition-colors"
              >Productos</a
            >
          </li>
          <li>
            <a
              href="/politicas-de-envio"
              class="hover:text-orange-300 transition-colors"
              >Políticas de Envíos</a
            >
          </li>
          <li>
            <a href="/blog" class="hover:text-orange-300 transition-colors"
              >Blogs</a
            >
          </li>
          <li>
            <a
              href="/libro-de-reclamaciones"
              class="hover:text-orange-300 transition-colors"
              >Libro de reclamaciones</a
            >
          </li>
          <li>
            <a
              href="/terminos-y-condiciones"
              class="hover:text-orange-300 transition-colors"
              >Términos y Condiciones</a
            >
          </li>
          <li>
            <a
              href="/politicas-de-privacidad"
              class="hover:text-orange-300 transition-colors"
              >Políticas de Privacidad</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- Bloque 2: Horario de atención -->
    <div class="flex justify-center lg:mb-0">
      <div
        class="flex flex-col justify-between text-center lg:text-left h-[200px]"
      >
        <!-- Arriba: Horario de atención -->
        <div>
          <p class="font-semibold mb-1 text-base">Horario de atención</p>
          <p class="text-base">Lunes a Viernes<br />9:00 am a 9:00 pm</p>
        </div>

        <!-- Abajo: Información de contacto -->
        <div>
          <p class="font-semibold mb-1 text-base">Para mayor información</p>
          <CopyText>informestami01@gmail.com</CopyText>
          <CopyText>+51978883199</CopyText>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col items-center justify-center space-y-6 h-full text-white"
    >
      <button
        type="button"
        title="Abrir formulario de asesoría"
        class="cursor-pointer text-lg font-bold tracking-wide hover:opacity-80 transition-opacity"
        id="open-scroll-btn"
      >
        ¡CONTÁCTANOS!
      </button>

      <div class="w-full text-center">
        <div class="flex gap-4 justify-center flex-wrap">
          {
            socialMediaLinks.map((item) => (
              <a
                href={item.url}
                target="_blank"
                rel="noopener noreferrer"
                title={item.linkTitle}
                class="w-10 h-10 bg-black rounded-full flex items-center justify-center"
              >
                <img
                  src={item.image.src}
                  alt={item.imageTitle}
                  class="w-6 h-6"
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</footer>
