---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/index/Hero";
import manoRobotica from "@images/index/robot-gris-señalar.webp";
import circuitos from "@images/index/circuitos.webp";
import iconGarantia from "@icons/icon_garantia.webp";
import trabajo from "@images/index/personas-manos-hablando.webp";
import ProductSlideshow from "src/components/index/ProductSlideshow.tsx";
import SectionCardsContainer from "src/components/index/SectionCardsContainer.astro";
import BtnGoToSectionCards from "src/components/index/BtnGoToSectionCards";
import "src/styles/global.css";
import Testimonials from "../components/index/Slideshow";
import ScrollModal from "../components/ui/ScrollModal.tsx";
//import ProductContainer from "../components/index/ProductContainer.astro";
---

<Layout
  title="Maquinaria para Negocios y Soluciones Comerciales Innovadoras en Perú | Venta a Nivel Nacional Tami Maquinaria Inicio"
  description="Selladoras, mesas LED, sillas LED, ventiladores holográficos, máquinas de empaque, equipos industriales, maquinaria comercial, maquinaria para negocios, Perú, embalaje, selladora industrial, eventos, productos innovadores, equipos LED, máquinas automáticas, negocio propio, artículos para empresas, atención nacional, máquinas modernas, iluminación LED."
  canonicalUrl="https://tamimaquinarias.com/"
>
  {/* Hero principal con CTA */}
  <Hero client:idle />

  {/* Modal de asesoría/captación de leads */}
  <ScrollModal client:only="react" />

  {/* Sección de bienvenida con imágenes y texto */}
  <section
    id="bienvenida"
    class="scroll-mt-16 h-96 sm:h-[calc(100dvh-10rem)] md:h-[calc(90dvh-9rem)] lg:h-[calc(100dvh-4rem)] flex flex-col md:flex-row justify-between max-w-screen-2xl mx-auto"
  >
    {/* Contenedor de imágenes */}
    <div
      class="w-full md:w-1/2 flex justify-center items-center order-2 md:order-1"
    >
      <div class="relative">
        <Image
          src={manoRobotica}
          alt="Mano robótica apuntando"
          width={manoRobotica.width}
          height={manoRobotica.height}
          quality={70}
          widths={[320, 540, 720, manoRobotica.width]}
          sizes="(max-width: 420px) 320px, (max-width: 720px) 540px, (max-width: 1024px) 720px, 100vw"
          
        />

        <Image
          src={circuitos}
          alt="Circuitos electrónicos"
          class="absolute inset-0 m-auto max-w-3/4 w-full 2xl:w-full z-[-10] hidden md:block"
          loading="lazy"
        />
      </div>
    </div>

    {/* Contenedor de texto */}
    <div
      class="w-full md:w-1/2 flex flex-col justify-center p-3 md:px-6 xl:px-16 2xl:px-20 order-1 md:order-2"
    >
      <h2
        class="text-orange-700 text-lg lg:text-xl xl:text-2xl 2xl:text-3xl font-extrabold py-2 tracking-widest"
      >
        BIENVENIDO A TAMI
      </h2>
      <h3
        class="text-teal-700 text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl font-extrabold py-2 tracking-wider leading-tight"
      >
        TECNOLOGÍA E INNOVACIÓN PARA TI
      </h3>
      <p
        class="text-stone-500 text-base lg:text-lg xl:text-xl 2xl:text-2xl py-2"
      >
        Ofrecemos calidad y soluciones avanzadas para mejorar y equipar tu
        negocio y hogar de manera eficiente.
      </p>
    </div>
  </section>



  {/* Sección de productos destacados en cartas */}
  <section
    id="sectionCards"
    class="w-full my-8 scroll-mt-20 max-w-screen-2xl mx-auto"
  >
    <SectionCardsContainer />
  </section>

  {/* Carrusel de productos con gradiente de fondo */}
  <section
    class="flex flex-col pt-6 px-6 lg:px-16 bg-gradient-to-b from-teal-700 via-teal-500 to-white max-w-screen-2xl mx-auto"
  >
    <h3 class="text-white text-lg lg:text-2xl xl:text-3xl font-extrabold mb-10">
      COMPROMETIDOS CON EL EMPRENDEDOR PERUANO, OFRECIENDO PRODUCTOS ASEQUIBLES
    </h3>
    <ProductSlideshow client:idle />
  </section>


  {/* Sección ¿Por qué elegir TAMI? */}
  <section
    class="w-full flex flex-col lg:flex-row items-center justify-center py-6 px-2 lg:px-16"
  >
    {/* Texto con iconos y etiquetas */}
    <div class="lg:w-1/2 text-center lg:text-left">
      <h2
        class="flex-col text-teal-700 font-extrabold text-3xl sm:text-4xl lg:text-6xl 2xl:text-7xl flex lg:justify-start gap-2"
      >
        <span class="flex justify-center lg:justify-start items-end">
          ¿POR QUÉ
          <Image
            src={iconGarantia}
            alt="Garantía"
            width="48"
            height="48"
            class="ml-2 w-10 sm:w-12 lg:w-24"
            loading="lazy"
          />
        </span>
        ELEGIR TAMI?
      </h2>
      <p class="text-gray-600 text-xl xl:text-3xl 2xl:text-4xl mt-4">
        Calidad respaldada por nuestra garantía, mostrando nuestro compromiso
        con la satisfacción de nuestros clientes.
      </p>

      {/* Etiquetas destacadas */}
      <div
        class="flex flex-wrap gap-4 my-6 justify-center lg:justify-start text-white"
      >
        <a href="/blog" class="bg-teal-700 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full transition-all duration-200 hover:bg-teal-800 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400">
          CALIDAD
        </a>
        <a href="/blog" class="bg-teal-700 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full transition-all duration-200 hover:bg-teal-800 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400">
          INNOVACIÓN
        </a>
        <a href="/blog" class="bg-teal-700 px-4 2xl:px-7 py-2 2xl:py-3 rounded-full transition-all duration-200 hover:bg-teal-800 hover:scale-105 focus:outline-none focus:ring-2 focus:ring-teal-400">
          NEGOCIO PROPIO
        </a>
      </div>

      <div class="w-full flex flex-col lg:flex-row items-center lg:items-start gap-0 lg:gap-8">
        <p class="text-teal-800 text-base md:text-lg xl:text-xl 2xl:text-2xl font-semibold text-center lg:text-left mt-2 mb-4 lg:mb-0 max-w-2xl mx-auto lg:mx-0">
          Descubre cómo la calidad, la innovación y el espíritu emprendedor de nuestros clientes nos inspiran a ofrecer soluciones reales y resultados comprobados.
        </p>
      </div>
    </div>

    {/* Imagen lateral */}
    <Image
      src={trabajo}
      alt="Personal hablando"
      widths={[320, 640, 960, 1200]}
      sizes="(max-width: 640px) 90vw, (max-width: 1024px) 60vw, 40vw"
      width={500}
      height={350}
      quality={80}
      class="w-5/6 lg:w-1/2 2xl:w-1/4"
      loading="lazy"
    />
  </section>

  {/* Testimonios de clientes */}
  <section
    class="w-full pt-12 flex flex-col relative before:content-[''] before:absolute before:top-0 before:left-0 before:right-0 before:h-[7px] before:shadow-[0_-4px_6px_-2px_rgba(0,0,0,0.1)] before:shadow-gray-200"
  >
    <h2
      class="text-center text-3xl md:text-4xl font-black text-teal-600 mb-4 tracking-widest"
    >
      LO QUE DICEN NUESTROS CLIENTES
    </h2>
    <h3
      class="text-center text-lg md:text-2xl font-black text-teal-700 mb-8 md:mb-14 tracking-widest px-4 md:px-40 lg:px-80"
    >
      VALORAMOS CADA COMENTARIO PARA SEGUIR MEJORANDO Y OFRECIENDO LO MEJOR PARA
      TI.
    </h3>
    <Testimonials client:only="react" />

    {/* Franja inferior con lema */}
    <div
      class="relative w-full py-12 h-20 bg-gradient-to-r from-orange-300 from-30% to-teal-500 flex items-center justify-center"
    >
      <div class="w-full max-w-screen-xl px-4 md:px-12 text-center">
        <h2 class="text-white font-black text-2xl md:tracking-[.5em]">
          TAMI : TECNOLOGÍA E INNOVACIÓN PARA TI
        </h2>
      </div>
    </div>
  </section>
</Layout>
