---
import shippingPoliciesHero from "@images/shipping-policies/envios_hero.webp";
import mapaPeru from "@images/shipping-policies/mapa.webp";
import camion from "@images/shipping-policies/camion.webp";
import caja from "@images/shipping-policies/caja.webp";
import Layout from "../layouts/Layout.astro";

const whatsappLink = "https://api.whatsapp.com/send?phone=51978883199";
---

<Layout
  title="Política de Envíos de Maquinaria | Tami Maquinarias Perú"
  description="Conoce nuestra política de envíos de maquinaria industrial en Perú. Entregas rápidas y seguras a Lima y provincias con tarifas claras."
  canonicalUrl="https://tamimaquinarias.com/politicas-de-envio/"
>
  <!-- Hero -->
  <section
    class="relative flex items-center justify-center text-white bg-cover bg-center min-h-screen lg:min-h-[90dvh] px-4"
    style={{
      backgroundImage: `linear-gradient(to bottom, rgba(0,120,111,.75), rgba(0,0,0,.75)), url(${shippingPoliciesHero.src})`,
    }}
  >
    <div class="w-full text-center mb-6 lg:mb-8">
      <h2
        class="font-extrabold leading-tight text-4xl sm:text-5xl lg:text-7xl xl:text-8xl 2xl:text-[96px]"
        style={{ textShadow: "rgba(0,0,0,.2) 1px 1px 20px" }}
      >
        POLÍTICA DE ENVÍOS
      </h2>

      <p class="mt-4 hidden lg:block text-lg leading-relaxed">
        Descubre nuestras políticas de envío, pensadas para garantizar una
        experiencia <br />
        confiable y segura en cada pedido.
      </p>
    </div>
  </section>

  <!-- Contenido -->
  <section
    class="grid grid-cols-1 sm:grid-cols-2 items-center justify-items-center gap-10 py-12 px-6 lg:px-16 bg-white/70 backdrop-blur-sm rounded-3xl shadow-[0_8px_25px_rgba(0,0,0,0.15)]"
  >
    <!-- Mapa -->
    <div class="flex justify-center items-center">
      <img
        src={mapaPeru.src}
        alt="Mapa apuntando Lima"
        title="Mapa apuntando Lima"
        class="w-3/4 md:w-full lg:w-full"
      />
    </div>

    <!-- Tarjetas de Envíos -->
    <div
      class="flex flex-col items-center text-center sm:items-center sm:text-center px-8 py-8 space-y-6 border border-gray-200 rounded-2xl shadow-lg bg-white"
    >
      <!-- Envíos Económicos -->
      <div class="w-full">
        <div
          class="flex items-center justify-center sm:justify-start gap-3 bg-teal-700 hover:bg-teal-900 transition text-white rounded-2xl px-6 py-5 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md w-full"
        >
          <img
            src={camion.src}
            alt="Icono de Camión"
            class="h-16 w-auto sm:h-20 lg:h-24 2xl:h-28 object-contain mr-4 lg:mr-8 drop-shadow-md"
          />
          <p
            class="text-lg sm:text-xl lg:text-2xl 2xl:text-3xl font-bold leading-snug text-center sm:text-left"
          >
            ENVÍOS ECONÓMICOS EN LIMA <br />
            METROPOLITANA
          </p>
        </div>

        <!-- Distritos -->
        <div class="w-full flex flex-col items-center space-y-3 mt-6">
          <a
            href={whatsappLink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full text-center bg-teal-600 hover:bg-teal-700 transition text-white rounded-full px-5 py-2 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md"
          >
            La Victoria
          </a>
          <a
            href={whatsappLink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full text-center bg-teal-600 hover:bg-teal-700 transition text-white rounded-full px-5 py-2 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md"
          >
            Centro de Lima
          </a>
          <a
            href={whatsappLink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full text-center bg-teal-600 hover:bg-teal-700 transition text-white rounded-full px-5 py-2 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md"
          >
            Santa Anita
          </a>
          <a
            href={whatsappLink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full text-center bg-teal-600 hover:bg-teal-700 transition text-white rounded-full px-5 py-2 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md"
          >
            Rimac
          </a>
          <a
            href={whatsappLink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full text-center bg-teal-600 hover:bg-teal-700 transition text-white rounded-full px-5 py-2 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md"
          >
            Lince
          </a>
        </div>
      </div>

      <!-- Lima Metropolitana -->
      <div
        class="flex items-center justify-center sm:justify-start gap-3 bg-teal-700 hover:bg-teal-900 transition text-white rounded-2xl px-6 py-5 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md w-full"
      >
        <img
          src={caja.src}
          alt="Icono de Caja"
          class="h-16 w-auto sm:h-20 lg:h-24 2xl:h-28 object-contain mr-4 lg:mr-8"
        />
        <p
          class="text-lg sm:text-xl lg:text-2xl 2xl:text-3xl font-bold leading-snug"
        >
          LIMA METROPOLITANA <br />
          <span class="font-medium text-base lg:text-lg 2xl:text-2xl">
            Tarifa fija S/20 soles
          </span>
        </p>
      </div>

      <!-- Envíos a Provincias -->
      <div
        class="flex items-center justify-center sm:justify-start gap-3 bg-teal-700 hover:bg-teal-900 transition text-white rounded-2xl px-6 py-5 font-semibold text-sm lg:text-base 2xl:text-2xl shadow-md w-full"
      >
        <img
          src={caja.src}
          alt="Icono de Caja"
          class="h-16 w-auto sm:h-20 lg:h-24 2xl:h-28 object-contain mr-4 lg:mr-8"
        />
        <p
          class="text-lg sm:text-xl lg:text-2xl 2xl:text-3xl font-bold leading-snug"
        >
          ENVÍOS A PROVINCIAS <br />
          <span class="font-medium text-base lg:text-lg 2xl:text-2xl">
            Tarifa fija S/20 soles
          </span>
        </p>
      </div>
    </div>
  </section>
</Layout>
