---
import { config, getApiUrl } from "config";
import type Producto from "src/models/Product";

let productsArray: Producto[] = [];

try {
  const response = await fetch(getApiUrl(config.endpoints.productos.list));
  if (!response.ok) {
    throw new Error(`Error en la petición: ${response.status}`);
  }
  const data = await response.json();
  productsArray = data.data;
} catch (error) {
  console.error("Error al obtener los productos:", error);
  productsArray = [];
}
---

<ul class="pd-container">
  {
    productsArray
      .slice(productsArray.length - 3, productsArray.length)
      .map((item) => {
        return (
          <li class="pd-container__content group">
            <a
              href={`/products/details?id=${item.id}`}
              class="pd-container__link"
            >
              <img
                src={item.image}
                alt={item.nombreProducto}
                class="pd-container__img"
              />
              {item.nombreProducto}
              <div class="pd-container__btn-info">Información</div>
            </a>
          </li>
        );
      })
  }
</ul>

<style>
  @import "tailwindcss";

  .pd-container__btn-info {
    @apply my-8 place-self-center border border-teal-700 rounded-full px-5 py-2 w-fit group-hover:cursor-pointer group-hover:bg-teal-700 group-hover:text-white transition-colors duration-300;
  }

  .pd-container {
    @apply w-full grid grid-cols-3 gap-8 overflow-x-auto lg:overflow-visible scroll-smooth px-4;
  }

  .pd-container__content {
    @apply bg-gradient-to-b to-white text-center justify-items-center text-teal-700 h-full group-hover:cursor-pointer;
  }

  .pd-container__img {
    @apply w-4/5 place-self-center group-hover:scale-100 ease-in-out transition-transform duration-300 mb-10;
  }

  .pd-container__link {
    @apply w-full h-full font-extrabold text-xl;
  }
</style>
