---
import { Image } from "astro:assets";
const props = Astro.props;
---

<div
  class="group w-full sm:w-[90%] md:w-[30%] lg:w-[28%] flex flex-col items-center"
>
  <a
    href={`/productos#${props.id}`}
    class="relative rounded-2xl overflow-hidden w-full aspect-[3/4] flex border border-teal-200
           hover:scale-[1.05] hover:z-20 hover:shadow-xl hover:border-teal-400 transition-transform duration-300"
    title="Cards de productos"
  >
    <Image
      src={props.image}
      alt={props.alt}
      title={props.alt}
      loading="lazy"
      class="absolute inset-0 w-full h-full object-contain md:object-cover object-center transition-transform duration-500 group-hover:scale-105"
    />

    <div
      class="relative z-10 text-center flex flex-col justify-end w-full px-4 py-6"
    >
      <h3 class="text-2xl md:text-xl font-bold text-white drop-shadow-md">
        {props.title}
      </h3>
    </div>
  </a>
</div>
