---
// Importaciones
import sectionCards from "@data/sectionCards.data";
import SectionCard from "./SectionCard.astro";
---

<section
  id="sectionCards"
  class="w-full my-8 scroll-mt-20 max-w-screen-2xl mx-auto px-4 md:px-10"
>
  <h2 class="text-4xl font-extrabold mb-12 text-center text-teal-600">
    OPTIMIZA TU TRABAJO, NEGOCIO Y HOGAR
  </h2>

  <div
    class="flex flex-wrap justify-center md:justify-between gap-8 md:gap-10 w-full"
  >
    {
      sectionCards.map((item) => (
        <SectionCard
          id={item.id}
          title={item.title}
          alt={item.alt}
          image={item.image}
          paragraph={item.paragraph}
          imageTitle={item.imageTitle}
        />
      ))
    }
  </div>
</section>
